// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
		height: 100%;
}

//start of my content
@import url('https://fonts.googleapis.com/css?family=Heebo|Noto+Sans+TC|Ubuntu&display=swap');

//don't touch index.css. That's where the compiler compiles index.less

//VARIABLES
	//colors
@primary: #1089ff; //nice blue
@secondary: #23374d; //navy
@tertiary: #e5e5e5; //off-white
@quaternary: #eeeeee; //less off-white

	//fonts
@heebo: 'Heebo', sans-serif;
@nstc: 'Noto Sans TC', sans-serif;

//END VARIABLES
//MIXINS
.flexColumn(){
	display: flex;
	flex-direction: column;
}


//END MIXINS

.container {
	font-family: @heebo;
	color: @secondary;
}

header{
	
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1%;
		margin: 1%;
		width: 35%;
		
		.links {
			color: @primary;
			text-decoration: none;
			font-size: 1.2rem;
		}

		.links:hover {
			animation-name: bg;
			animation-duration: 750ms;
			animation-fill-mode: forwards;
			border: 1px solid white;
			border-radius: 10px;
		}
	}

	@keyframes bg {
		100% {
			color: @quaternary;
		}
	}

	.header-class {
		margin: 0 3%;
		padding: 2% 2% 1% 2%;
		background: @tertiary;
		color: @secondary;
		.flexColumn();
		border-radius: 30px;
		width: 94%;

		h1 {
			font-size: 4rem;
			color: @primary;
			font-weight: bold;
		}

		h3 {
			font-size: 1.5rem;
			padding: 1% 0;
		}

		p {
			padding-bottom: 1%;
			font-size: .9rem;
		}

		button {
			width: 20%;
			border: 1px solid black;
			padding: 1% 5%;
			margin: 1% 0 1% 1%;
			border: 1px solid @primary;
			border-radius: 10px;
		}

		button:hover {
			animation-name: connect;
			animation-duration: 600ms;
			animation-fill-mode: forwards;
		}
	}

	@keyframes connect {
		100% {
			color: @quaternary;
			background: @primary;
			border: 1px solid @secondary;
		}
	}
}

//education
.education {
	margin: 3%;

	.s-d {
		display: flex;

		
		p {
			font-size: .9rem;
		}

		div {
			.flexColumn();
		}

		.school {
			width: 49%;
			padding: 1% 0 .5% 0;
		}

		.date {
			width: 49%;
			align-items: flex-end;
			justify-content: center;
		}
	}

	.school-description {
		padding-left: 2%;
	}

	h2 {
		font-size: 1.75rem;
		color: @primary;
	}

	h4 {
		font-size: 1.2rem;
		font-weight: bold;
	}
}

//experience
.experience {
	margin: 3%;

	.t-e-d  {
		display: flex;

		p {
			font-size: .9rem;
		}
		
		div {
			.flexColumn();
		}

		.title-employer {
			width: 49%;
			padding-top: 1%;

			.employer {
				padding: 1% 1% 0 1%;
			}
		}

		.date {
			width:49%;
			align-items: flex-end;
			justify-content: center;
		}
	}

	.job-des-div {
		padding: .5% 2%;

		.job-description {
			padding: .25% 0;
		}
	}

	h2 {
		font-size: 1.75rem;
		color: @primary;
	}

	.title {
		font-size: 1.2rem;
		font-weight: bold;
	}
}

//skills
.skills {
	margin: 3%;
	.flexColumn();

	h2 {
		font-size: 1.75rem;
		color: @primary;
		padding-bottom: 1%;
	}		

	.skills-list {
		display: flex;
		justify-content: space-evenly;
		width: 96%;
	}


	h4 {
		font-size: 1.2rem;
	}
}
